name: discord-notify

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print GitHub event payload
        run: echo "${{ toJson(github.event) }}"
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: The repository **[${{ github.repository }}](${{ github.server_url }}/${{ github.repository }})** has been updated.
